name: Create GKE Cluster

on:
  workflow_dispatch:
    # Define inputs that are required for the manual trigger
    inputs:
      clusterName:
        description: 'Name of the GKE cluster'  
        required: true 
      location:
        description: 'GKE Region for the cluster'
        required: true

jobs:
  create-gke:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Enable APIs
        run: |
          gcloud config set account ${{ secrets.GCP_PROJECT_ID }}

      - name: Create GKE cluster
        run: |
          gcloud container clusters create ${{ github.event.inputs.clusterName }} \
            --project=ams-practicesharedservicesops \
            --region=${{ github.event.inputs.location }} \
            --machine-type=e2-small \
            --num-nodes=1 \
            --enable-ip-alias \
            --release-channel=regular \
            --workload-pool=--workload-pool=${{ secrets.GCP_PROJECT_ID }}.svc.id.goog \
            --enable-autoupgrade \
            --enable-autorepair \
            --enable-shielded-nodes \
            --enable-network-policy
