name: Create GKE Cluster

on:
  workflow_dispatch:
    # Define inputs that are required for the manual trigger
    inputs:
      clusterName:
        description: 'Name of the GKE cluster'  
        required: true 
      location:
        description: 'GKE Region for the cluster'
        required: true

jobs:
  create-gke:
    runs-on: ubuntu-latest
    steps:
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Create GKE cluster
        run: |
          gcloud container clusters create ${{ github.event.inputs.clusterName }} \
          --project=${{ secrets.GCP_PROJECT_ID }} \
          --region=${{ github.event.inputs.location }} \
          --machine-type=e2-small \
          --num-nodes=1 \
          --enable-ip-alias \
          --network=backstage-vpc \
          --release-channel=regular \
          --workload-pool=${{ secrets.GCP_PROJECT_ID }}.svc.id.goog \
          --enable-autoupgrade \
          --enable-autorepair \
          --enable-shielded-nodes \
          --enable-network-policy

